.input {
    padding: 1em;
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 15px;
    background-color: #EEE;
    border-radius: 8px;
    width: 100%;
    color: #53565A;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 400;
  }
  
.search-container {
    width: 100%;
    margin: 0 auto;
}
  
.search-container form {
    width: 100%;
}  

.form {
    display: flex;
    justify-content: space-around;
}